.gallery {
    margin-top: 24px;
    margin-bottom: 16px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 24px;
}

.gallery-image {
    width: 360px;
    height: 200px;

    object-fit: cover;

    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.gallery-link:hover > .gallery-image,
.gallery-link:focus > .gallery-image {
    width: 376px;
    height: 208px;

    cursor: pointer;
}

.gallery-item {
    border: 1px solid #808080;
    position: relative;
}

.desc-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 4px;
    display: flex;
    justify-content: center;
    gap: 28px;

    background-color: #fff;

    text-align: center;
    font-size: 12px;
    line-height: 2;
}
.desc-li {
    display: flex;
    flex-direction: column;
}

.bold {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 1.34;
}
